<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Flask App</title>
</head>
<body>
    <h1>Welcome to the Combined Flask App</h1>
    <ul>
        <li><a href="/noshow">Noshow Classification Model</a></li>
        <li><a href="/appointment">Appointment Time Prediction Model</a></li>
        <li><a href="/stock">Stock Market Prediction Model</a></li>
    </ul>
</body>
</html>
