<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Combined Flask App{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
{% endblock %}

{% block content %}
<h1>Welcome to the Combined Flask App</h1>
<ul>
    <li><a href="/noshow">Noshow Classification Model</a></li>
    <li><a href="/appointment">Appointment Time Prediction Model</a></li>
    <li><a href="/stock">Stock Market Prediction Model</a></li>
</ul>
{% endblock %}