<!-- stockmarketpred.html -->
{% extends 'base.html' %}

{% block title %}Stock Price Prediction Model Demo{% endblock %}

{% block content %}
<h1>Stock Market Prediction Model Demo</h1>
<form method="POST" action="/stock/predict">
    Date: <input type="date" name="date"><br>
    Open: <input type="float" name="open"><br>
    Shares Traded: <input type="int" name="shares_traded"><br>
    Turnover (crores): <input type="float" name="turnover"><br>
    <input type="submit" value="Predict">
</form>

<!-- Display the prediction result as text -->
{% if prediction %}
    <h2>Prediction Result: {{ prediction }}</h2>
{% endif %}

<button onclick="goBack()">Go Back</button>
{% endblock %}
